body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }
  ul {
    list-style-type: none;
    padding: 10px;
    gap: 10px;
  }
 

  section {
    display: flex;
    flex-direction: column;
  }
 
  h2 {
    text-align: center;
    color: rgb(252, 252, 252);
  }
  .produtos {
     display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    margin: auto; 
  }
   .produtos-linha {
    display: flex;
    flex-direction: row;
    justify-content: center; 
  }
  .promocao {
    background-color: rgb(104, 8, 8);
    width: 30%;
    align-self: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .promocao p {
    margin: 10px;
    color: rgb(253, 253, 253);
    font-weight: bold;
    text-align: center;
  }
 
 header h1{
        text-align: center;
    background-color: rgb(252, 252, 252);
    
     }
.menu{
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: rgb(247, 247, 247);
}
.container{
   flex-direction: row;
   text-align: center;
        
}
body{
  background-color: #2E476F;
}
  
   .paragrafo{
    color: rgb(255, 255, 255);
   }
   .container1{
    background-color: rgb(233, 17, 17);
    text-align: center;
   }
   .container2{
    background-color: black;
    text-align: center;
    
   }  
  .container7{
    flex-direction: column;
  }
  .container8{
    display: flex;
    
  }

  
   
    
    
    
   

